<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:config.properties,classpath:jdbc.properties"/>
    <!--<import resource="classpath*:/spring/spring-*.xml" />-->
    <!-- 自动扫描所有的注解，排除掉controller不扫描 -->
    <context:component-scan base-package="net.imwork.amorgemini.controller">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!-- 自动扫描@Repository注入为bean -->
    <context:component-scan base-package="net.imwork.amorgemini.repository" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>
    <!-- 自动扫描@Service注入为bean -->
    <context:component-scan base-package="net.imwork.amorgemini.service" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>
</beans>