<md-content class="md-padding views-app-menu">
    <mdt-table save-row-callback="saveRowCallback(row)"
               table-card="{visible: true, title: '菜单列表', columnSelector: true}"
               paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}">
        <mdt-header-row>
            <mdt-column exclude-from-column-selector="true"><span>序号</span></mdt-column>
            <mdt-column column-sort="true" exclude-from-column-selector="true"><span>菜单名称</span></mdt-column>
            <mdt-column column-sort="true"><span>菜单地址</span></mdt-column>
            <mdt-column column-sort="true"><span>父级菜单</span></mdt-column>
            <mdt-column column-sort="true"><span>排序</span></mdt-column>
            <mdt-column><span>禁用/启用</span></mdt-column>
        </mdt-header-row>
        <mdt-row ng-repeat="m in menuList">
            <mdt-cell><span>{{$index}}</span></mdt-cell>
            <mdt-cell editable-field="smallEditDialog"><span>{{m.menuName}}</span></mdt-cell>
            <mdt-cell editable-field="smallEditDialog"><span>{{m.menuUrl}}</span></mdt-cell>
            <mdt-cell editable-field="smallEditDialog"><span>{{m.menuFid}}</span></mdt-cell>
            <mdt-cell editable-field="smallEditDialog"><span>{{m.sort}}</span></mdt-cell>
            <mdt-cell html-content="true"><span>
                <md-switch ng-model="m.flag" class="md-warn"ng-change="changeCallback(m)"
                           ng-true-value="1" ng-false-value="0"></md-switch>
            </span></mdt-cell>
        </mdt-row>
    </mdt-table>
</md-content>