<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>web</title>
    <script src="../../app/js/resource.js"></script>
    <!--<script src="../../app/js/app.js"></script>-->
</head>
<body ng-app="webApp" layout="column" class="webApp layout-column" ng-cloak aria-label="webApp">
<md-toolbar ui-view="header" flex="10" layout="column"></md-toolbar>
<div flex layout="row">
    <md-sidenav ui-view="menu" class="md-sidenav-left"
                md-component-id="left"
                md-disable-backdrop
                md-is-locked-open="$mdMedia('gt-md')&&showMenu()"
                md-whiteframe="3"></md-sidenav>
    <!--md-disable-backdrop-->
    <div ui-view="content" flex></div>
</div>
<div ui-view="fixed"></div>
</body>
</html>